.block {
    padding: 10%;
}

#text {
    mask: url(#mask);
}

.handwriting {
    width: 100%;
    height: auto;

    &_text {
        fill: #404040;
    }

    &_mask {
        &_line {
            fill: none;
            stroke: #fff;
            stroke-width: 7;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 4000px;
            animation: handwriting 4s linear infinite;
        }
    }
}

.svgwrap {
    // width: 60%;
    // display: block;
}

@media(max-width:640px) {
    // .svg {
    //     width: 100%;
    // }
}

@keyframes handwriting {
    0% {
        stroke-dashoffset: 4000px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}